.fotoware_popup{
	display: block;
	width: 100%;
	height: 100%;
}

.content-iframe{
	display: block;
	width: 100%;
	height: 100%;
}

.content-iframe > iframe{
	display:block;
	width:100%;
	height: 100%;
	border: 0px;
  	padding: 0px; 
}

.content-object-fotoware{
	
}

.o2k7Skin span.mce_fotoware {
	background: url("../images/icon-fotoweb.png") no-repeat center center;
	background-size: 15px;
}

.fotoware_popup_select{
	width: 100%;
	height: 100%;
}

.fotoware_popup_edit{
	width: 100%;
	height: 100%;
}

.fotoware_popup_size{
	width: 100%;
	height: 100%;
}

.fotoware_popup_size > .content-fotoware-size{
	margin: 10px 0px;
}

.fotoware_popup_size > .content-fotoware-size-img{
    height: auto;
    border: 1px solid #000;
    padding: 15px;
    overflow: auto;
}

.fotoware_popup_size > .content-fotoware-size > label{
	display: inline-block;
}

.fotoware_header_menu{
	display: block;
	width: 100%;
	height: 70px;
}

.fotoware_header_menu > .title{
	float:left;
}

.fotoware_header_menu > .menu{
	float:right;
	margin-right: 50px;
    margin-top: 30px;
}
