{% if objects %}
	{% for item in objects %}
		{#{ dump(item) }#}
	
		{#}<li>
			<a href="{{ path( 'ez_urlalias', {'locationId': item.contentInfo.mainLocationId} ) }}">
				{% if item.fields.name is defined %}
					{{ ez_field_value( item, "name" ) }}
				{% elseif item.fields.title is defined %}
					{{ ez_field_value( item, "title" ) }}
				{% endif %}
			</a>
		</li>#}
	{% endfor %}
{% endif %}